<h1>{{userName}}'s Dashboard</h1>
<hr />
<div class="row">
    <div class="col-sm-6">
        <h2>My Checked Out Items</h2>
        <ul>
            <li>Robot Stuff - Due: 5/5/2054</li>
            <li>Neo Pixels - Due: 5/5/2016</li>
            <li>Pen - Due: 5/5/2081</li>
            <li style="color:red;">Wompwomp - Due: 5/5/2005 - OVERDUE</li>
        </ul>    
    </div>
    <div class="col-sm-6">
        <h2>My Projects</h2>

        <ul>
            <li style="color: red;">Dokalman - IMPORTANT INFORMATION</li>
            <li>T-Shirt Cannon</li>
            <li>Aero  Stuff</li>
        </ul>    
    </div>
    <div class="col-sm-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
    </div>
    <div class="col-sm-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
    </div>
</div>
