
<footer>
  <div class="container text-center">
    <p class="pull-left" id="year"></p>
    <ul class="pull-right list-inline">
      <li><a href="https://github.com/kfechter/Custos">GitHub Project</a></li>
      <li><a href="https://github.com/kfechter/Custos/issues">Issues</a></li>
    </ul>
  </div>
</footer>

<script type="text/javascript">
    var dt = new Date();
    document.getElementById("year").innerHTML = "© " + dt.getFullYear() + " Kenneth Fechter. All Rights Reserved";
</script>