<h1>Transfer Site Ownership</h1>
<p>This will revoke your site ownership, and transfer it to another user</p>
<form class="form-horizontal" name="transferform" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-4" for="transferUserName">E-mail of Transfer Target</label>
        <div class="col-md-6">
            <input type="email" class="form-control" id="transferTargetUsername" name="transferTargetUsername">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Transfer Ownership</button>
    </div>
</form>